<h1 class="text-3xl font-bold mb-5">Mon profil</h1>
<!-- Bento Grid Content Section -->
<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  <!-- 1. Personal Information Section -->
  <div class="lg:col-span-1 space-y-6">
    <div class="bg-surface-container-low rounded-[2rem] p-8 transition-all hover:bg-surface-container/80 group">
      <div class="flex items-center gap-4 mb-8">
        <div
          class="w-12 h-12 rounded-xl bg-primary/10 flex items-center justify-center text-primary group-hover:scale-110 transition-transform">
          <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">badge</span>
        </div>
        <h3 class="text-xl font-bold tracking-tight">Informations Personnelles</h3>
      </div>
      <div class="space-y-6">
        <div>
          <p class="text-xs font-bold uppercase tracking-widest text-outline mb-1">Nom</p>
          <p class="text-xl font-medium text-on-surface">{{ user()?.lastName }}</p>
        </div>
        <div>
          <p class="text-xs font-bold uppercase tracking-widest text-outline mb-1">Prénom</p>
          <p class="text-xl font-medium text-on-surface">{{ user()?.firstName }}</p>
        </div>
        <div>
          <p class="text-xs font-bold uppercase tracking-widest text-outline mb-1">Email</p>
          <p class="text-lg font-medium text-on-surface">{{ user()?.email }}</p>
        </div>
        <div class="flex justify-between items-end">
          <div>
            <p class="text-xs font-bold uppercase tracking-widest text-outline mb-1">Mot de passe</p>
            <p class="text-lg font-medium text-on-surface tracking-widest">••••••••</p>
          </div>
          <button class="text-primary text-sm font-bold hover:underline mb-1 flex items-center gap-1">
            <span class="material-symbols-outlined text-sm">edit</span>
            Modifier
          </button>
        </div>
      </div>
      <button
        class="mt-10 w-full py-4 px-6 bg-surface-container-lowest rounded-xl text-primary font-bold text-sm border border-outline-variant/15 hover:bg-white transition-all shadow-sm">
        Éditer le profil public
      </button>
    </div>
  </div>
  <!-- Content Area: Loans & Reservations -->
  <div class="lg:col-span-2 space-y-6">
    <!-- 3. Current Loans List Section -->
    <div class="bg-secondary-container rounded-[2rem] p-8 border border-outline-variant/15">
      <div class="flex justify-between items-center mb-6">
        <h3 class="text-2xl font-bold tracking-tight">Emprunts</h3>
        <span class="text-sm font-medium text-on-surface-variant">{{userBorrows().length}} documents actifs</span>
      </div>
      <div class="space-y-4 bg-surface-bright rounded-3xl max-h-125 overflow-y-auto p-5">
        @if (userBorrows() != undefined){
          @if (userBorrows().length!=0) {
            @for (borrow of userBorrows(); track borrow.borrowId) {
              <div class="flex items-center gap-4 p-5 bg-surface-container-low rounded-2xl border border-surface-dim">
                <button (click)="navigateToDetail(borrow.book.id)" class="w-12 h-16 bg-slate-300 rounded-lg overflow-hidden shadow-sm flex-shrink-0 transition-all duration-500 ease-[cubic-bezier(.22,.61,.36,1)] hover:scale-110 hover:shadow-xl">
                  <img alt="Book cover" class="w-full h-full object-cover"
                       src="{{borrow.book.imgUrl}}"/>
                </button>
                <div class="flex-grow">
                  <p class="text-base font-bold truncate text-on-surface">{{borrow.book.title}}</p>
                  <p>{{borrow.returnDate != undefined}}</p>
                  @if (borrow.returnDate == undefined) {
                    <p class="text-sm text-on-surface-variant">{{borrow.book.author}} • Retour prévu : {{borrow.borrowEnd | date : 'EEEE d MMMM y'}}</p>
                  } @else {
                    <p class="text-sm text-on-surface-variant">{{borrow.book.author}} • Livre rendu : {{borrow.returnDate | date : 'EEEE d MMMM y'}}</p>
                  }

                </div>
                <div class="flex flex-col items-end">
                  <!-- Ajout d'un if pour le cas ou le livre est retourné-->
                  @if (borrow.returnDate == null){
                    <span
                      class="px-3 py-1 text-[11px] font-bold uppercase rounded-full tracking-wider"
                      [ngClass]="isLate(borrow.borrowEnd) ? 'bg-error text-on-error' : 'bg-green-100 text-green-800'">

                      {{ isLate(borrow.borrowEnd) ? 'retard' : 'à l\'heure' }}
                    </span>
                  }
                  @if(borrow.returnDate !== null) {
                    <span
                      class="px-3 py-1 text-[11px] font-bold uppercase rounded-full tracking-wider bg-blue-100 text-blue-800">
                      <p>Rendu</p>
                    </span>
                  }
                </div>
              </div>
            }
          } @else {
            <p class="text-primary font-bold">Vous n'avez pas encore d'emprunts</p>
          }
        }
      </div>
    </div>
    <!-- 2. Reservations List Section -->
    <div class="bg-surface-container-low rounded-[2rem] p-8">
      <h3 class="text-2xl font-bold tracking-tight mb-6">Mes Réservations</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        @if (userReservations() !== undefined) {
          @if (userReservations().length != 0) {
            @for (reservation of userReservations(); track reservation.id) {
              <div class="bg-surface-container-lowest p-6 rounded-2xl border border-outline-variant/10 shadow-sm">
                <div class="flex items-start justify-between mb-4">
                  <div
                    class="w-10 h-10 rounded-lg bg-primary-container/20 flex items-center justify-center text-primary-container">
                    <span class="material-symbols-outlined">menu_book</span>
                  </div>
                  @if (reservation.book.status !== AvailabilityStatus.AVAILABLE) {
                    <span class="text-[11px] font-bold uppercase bg-primary/10 text-primary px-3 py-1 rounded-full">En attente</span>
                  } @else {
                    <span class="text-[11px] font-bold uppercase bg-green-100 text-green-800 px-3 py-1 rounded-full">Disponible</span>
                  }
                </div>
                <div class="flex justify-between items-center">
                  <div class="flex flex-col justify-baseline">
                    <h4 class="font-bold text-lg mb-1">{{ reservation.book.title }}</h4>
                    <p class="text-sm text-on-surface-variant mb-4">{{ reservation.book.author }}</p>
                  </div>
                  <button (click)="navigateToDetail(reservation.book.id)" class="w-12 h-16 bg-slate-300 rounded-lg overflow-hidden shadow-sm flex-shrink-0 transition-all duration-500 ease-[cubic-bezier(.22,.61,.36,1)] hover:scale-110 hover:shadow-xl">
                    <img alt="Book cover" class="w-full h-full object-cover" src="{{reservation.book.imgUrl}}" />
                  </button>
                </div>
                <div class="pt-4 border-t border-outline-variant/10 flex items-center gap-2 text-primary">
                  <span class="material-symbols-outlined text-sm">event</span>
                  <span class="text-xs font-bold">Réservé depuis le {{ reservation.date | date : 'EEEE d MMMM y' }}</span>
                </div>
                <div class="flex justify-center mt-5">
                  <button (click)="cancelReservation(reservation.id)" class="px-4 py-2 bg-primary text-on-primary rounded-lg text-xs font-bold shadow-md opacity-20 hover:opacity-100 transition-opacity hover:cursor-pointer">
                    Annuler
                  </button>
                </div>
              </div>
            }
          } @else {
            <p class="text-primary font-bold">Vous n'avez pas encore de réservations</p>
          }
        }
      </div>
    </div>
  </div>
</div>
